In [16]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [17]:
city_data_df = pd.read_csv("Resources/Cities1.csv")

In [18]:
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-10-30 00:55:44,-53.1500,-70.9167,44.71,65,20,13.80
1,1,Busselton,AU,2021-10-30 00:52:16,-33.6500,115.3333,61.05,58,5,6.85
2,2,Kahului,US,2021-10-30 00:55:45,20.8947,-156.4700,83.46,74,100,13.00
3,3,Severo-Kurilsk,RU,2021-10-30 00:54:35,50.6789,156.1250,42.30,82,90,15.43
4,4,Provideniya,RU,2021-10-30 00:55:45,64.3833,-173.3000,13.71,67,77,3.02
...,...,...,...,...,...,...,...,...,...,...
566,566,Dossor,KZ,2021-10-30 01:10:55,47.5272,52.9811,49.28,57,100,5.08
567,567,Alta,NO,2021-10-30 01:10:55,69.9689,23.2717,38.19,69,98,3.00
568,568,Naifaru,MV,2021-10-30 01:10:56,5.4444,73.3657,81.81,72,95,10.09
569,569,Cam Ranh,VN,2021-10-30 01:10:57,11.9214,109.1591,80.56,83,20,8.05
570,570,Kommunisticheskiy,RU,2021-10-30 01:10:57,61.6789,64.4819,17.10,80,63,7.85

In [19]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [20]:
gmaps.configure(api_key=)

In [21]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 95

In [44]:
city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kahului,US,2021-10-30 00:55:45,20.8947,-156.4700,83.46,74,100,13.00
11,11,Cabo San Lucas,MX,2021-10-30 00:51:17,22.8909,-109.9124,82.51,75,0,6.29
19,19,Hithadhoo,MV,2021-10-30 00:55:51,-0.6000,73.0833,83.53,72,100,14.38
20,20,Kapaa,US,2021-10-30 00:55:51,22.0752,-159.3190,81.19,83,24,3.00
78,78,Bathsheba,BB,2021-10-30 00:57:10,13.2167,-59.5167,81.21,69,20,11.50
...,...,...,...,...,...,...,...,...,...,...
493,493,Kudahuvadhoo,MV,2021-10-30 01:08:30,2.6708,72.8944,82.26,75,97,10.96
510,510,Charagua,BO,2021-10-30 01:09:36,-19.8000,-63.2167,82.96,43,100,8.88
521,521,Byron Bay,AU,2021-10-30 01:09:40,-28.6500,153.6167,85.95,63,20,14.45
568,568,Naifaru,MV,2021-10-30 01:10:56,5.4444,73.3657,81.81,72,95,10.09
569,569,Cam Ranh,VN,2021-10-30 01:10:57,11.9214,109.1591,80.56,83,20,8.05

In [43]:
city_data_df["Max Temp"]>=95

0      False
1      False
2      False
3      False
4      False
       ...
566    False
567    False
568    False
569    False
570    False
Name: Max Temp, Length: 571, dtype: bool

In [45]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kahului,US,2021-10-30 00:55:45,20.8947,-156.4700,83.46,74,100,13.00
11,11,Cabo San Lucas,MX,2021-10-30 00:51:17,22.8909,-109.9124,82.51,75,0,6.29
19,19,Hithadhoo,MV,2021-10-30 00:55:51,-0.6000,73.0833,83.53,72,100,14.38
20,20,Kapaa,US,2021-10-30 00:55:51,22.0752,-159.3190,81.19,83,24,3.00
78,78,Bathsheba,BB,2021-10-30 00:57:10,13.2167,-59.5167,81.21,69,20,11.50
79,79,Villa Union,MX,2021-10-30 00:57:11,23.2000,-106.2333,84.90,71,0,2.93
84,84,Boa Vista,BR,2021-10-30 00:54:23,2.8197,-60.6733,84.18,65,20,2.30
91,91,Neiafu,TO,2021-10-30 00:58:14,-18.6500,-173.9833,81.28,69,75,12.66
92,92,Lompoc,US,2021-10-30 00:54:16,34.6391,-120.4579,80.13,88,1,9.22
107,107,Goure,NE,2021-10-30 00:58:18,13.9835,10.2704,84.02,14,100,7.34

In [46]:
preferred_cities_df.count()

City_ID       68
City          68
Country       68
Date          68
Lat           68
Lng           68
Max Temp      68
Humidity      68
Cloudiness    68
Wind Speed    68
dtype: int64

In [47]:
# Create A COPY DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Kahului      US     83.46  20.8947 -156.4700
11   Cabo San Lucas      MX     82.51  22.8909 -109.9124
19        Hithadhoo      MV     83.53  -0.6000   73.0833
20            Kapaa      US     81.19  22.0752 -159.3190
78        Bathsheba      BB     81.21  13.2167  -59.5167
79      Villa Union      MX     84.90  23.2000 -106.2333
84        Boa Vista      BR     84.18   2.8197  -60.6733
91           Neiafu      TO     81.28 -18.6500 -173.9833
92           Lompoc      US     80.13  34.6391 -120.4579
107           Goure      NE     84.02  13.9835   10.2704

In [48]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [73]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
   
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
   
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kahului,US,83.46,20.8947,-156.4700,Maui Seaside Hotel
11,Cabo San Lucas,MX,82.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
19,Hithadhoo,MV,83.53,-0.6000,73.0833,Scoop Guest House
20,Kapaa,US,81.19,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
78,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...
493,Kudahuvadhoo,MV,82.26,2.6708,72.8944,Niyama Private Islands Maldives
510,Charagua,BO,82.96,-19.8000,-63.2167,Hotel
521,Byron Bay,AU,85.95,-28.6500,153.6167,Backpackers Inn on the Beach
568,Naifaru,MV,81.81,5.4444,73.3657,Naifaru Residence Guest House
569,Cam Ranh,VN,80.56,11.9214,109.1591,OYO 598 Peony Hotel

In [76]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [79]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [80]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))